## Ignore everything in the root except the "DesktopModules" directory.
/*
!.gitignore
!DesktopModules/

# Ignore everything in the "DesktopModules" directory, except the "plugins"
# and "themes" directories
DesktopModules/*
!DesktopModules/nfenske/
!DesktopModules/nfenske/*
